<html>
    <title>Video</title>
	
	<head>
		<style>
		
					/* Style the video: 100% width and height to cover the entire window */
			#myVideo {
			  position: fixed;
			  right: 0;
			  bottom: 0;
			  min-width: 100%;
			  min-height: 100%;
			}
					
		</style>
	</head>
    <body>
	
	
	

	
	
	
        <video autoplay  loop id="myVideo"  controls  disablePictureInPicture  controlsList="nodownload">
            <source src="/api/video?id=movie" type="video/mp4"/>
            Your browser does not support the <code>video</code> element.
        </video>
	

		
		 
    </body>
</html>