<html>
    <title>Video</title>
    <body>
        <video controls>
            <source src="/api/video?id=movie" type="video/mp4"/>
            <!-- fallback -->
            Your browser does not support the <code>video</code> element.
        </video>
		<br></br>
		<audio controls>
		  <source src="/api/audio?id=wave" type="audio/mpeg">
		   <!-- fallback -->
			Your browser does not support the audio element.
		</audio>
    </body>
</html>